
img{
    width: 100%;
    height: auto;
}
body
{
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

}



/* section1 start*/

.section1-container
{
    background-image: url("../images/event1.jpg");
    display: grid;
    grid-template-rows: repeat(3,auto);
    color: #ffffff;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 160px 0px;
    background-size: cover;
    row-gap: 3rem;
    text-align: center;
    
    
}

.sec1-text1
{
    display: grid;
    grid-template-rows: repeat(3,auto);
    row-gap: 0.5rem;
}
.sec1-text2
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-self: center;
    column-gap: 1rem;
}
.sec1-text3
{
    margin-top: 2rem;
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 3rem;
}
.sec1-font1
{
    font-size: 36px;
    line-height: 40px;
    font-weight: 900;
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
  
}
.sec1-font2
{
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}
.sec1-font3
{
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
}
.sec1-font4
{
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}
.sec1-text3 a
{
    background-color: #56B68B;
    text-decoration: none;
    padding: 25px 60px;
    border-radius: 4px;
}


/*section1 end*/




/*..................................................................................................................*/



/*section2 start*/


.section2-container
{
    display: grid;
    grid-template-rows: repeat(2,auto);
    text-align: center;
    row-gap: 2rem;
    padding: 120px 0px;
}
.sec2-text1
{
    display: grid;
    grid-template-rows: repeat(2,auto);
    row-gap: 1rem;

}
.sec1-images
{
    display: grid;
    grid-template-rows: repeat(3,auto);
}

.sec2-font1
{
    font-size: 30px;
    line-height: 34px;
    font-weight: 900;
    color: #69696E;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}

.sec1-font2
{
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: #69696E;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sec2-font4
{
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}

.sec2-green
{
    background-color: #56B68B;
    padding: 40px 15px;
    text-align: left;
}


.sec2-images
{
    display: grid;
    grid-template-rows: repeat(3,auto);
    row-gap: 1.5rem;
}

.sec2-font4
{
    font-size: 18px;
    line-height: 22px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
}


/*section2-end*/




/* section 3 start */

.section3
{
    padding-bottom: 120px;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}
.sec3-text1
{
    text-align: center;
    display: grid;
    grid-template-rows: repeat(2,auto);
    row-gap: 0.8rem;
}
.sec3-font1
{
    font-size: 30px;
    line-height: 34px;
    font-weight: 900;
    color: #69696E;
}
.sec3-font2
{
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #69696E;

}
.sec3-font3
{
    font-size: 18px;
    line-height: 22px;
    font-weight: 900;
    color: #69696E;

}
.sec3-font4
{
    font-size: 12px;
    font-weight: 900;
    line-height: 20px;
    color: #69696E;
}

.sec3-font5
{
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
    color: #69696E;
}

.sec3-grid
{
    display: grid;
    grid-template-rows: repeat(4,auto);
    row-gap: 0.8rem;
}
.sec3-cards
{
    display: grid;
    grid-template-rows: repeat(3,auto);
    row-gap: 1.8rem;
}

.sec3-container
{
    display: grid;
    grid-template-rows: repeat(2,auto);
    row-gap: 1rem;
}









/*section 3 end*/




/*section4*/

/*section4 end*/

/*section5 start*/


.section5{
    background-color: #525e6c;
}
.sec5-font1
{
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 900;
}


.sec5-font2
{
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 400;
}
.sec5-container
{
    
    display: grid;
    grid-template-rows: repeat(3,auto);
    row-gap: 1rem;
    padding: 7rem 3rem;
    text-align: center;
}

.sec5-container a
{
    text-decoration: none;
    padding: 1.5rem 3.5rem;
    background-color: #56B68B;
    border-radius: 4px;
    
}

.sec5-font3
{
    font-size: 18px;
    color: #ffffff;
}

.sec5-mar
{
    margin: 2rem 0rem;
}

/*section5 end*/



/*section6 start*/


.sec6-font1
{
    font-size: 26px;
    line-height: 30px;
    font-weight: 900;
    color: #69696E;
}

.sec6-font2
{
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: #69696E;
}

.sec6-font3
{
    font-size: 16px;
    line-height: 20px;
    color: #69696E;
    font-weight: 400;
}
.sec6-text1
{
    text-align: center;
}
.sec6-video > iframe
{
width: 100%;
height: auto;
}

.sec6-container
{
    display: grid;
    grid-template-rows: repeat(2,auto);
    row-gap: 2rem;
    padding: 120px 0px;
}
.sec6-text1{
    display: grid;
    grid-template-rows: repeat(3,auto);
    row-gap: 1rem;
}



/*section6 end*/


/*section7 start*/

.sec7-card1
{
    display: grid;
    grid-template-rows: repeat(6,auto);
}

.card71-row1
{

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card-detail
{
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto auto;
}

.sec7-face
{
    grid-row: 1/3;
}
.ticon 
{
    grid-column: 2;
}
.sec7-m
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}




/*section7 end*/









/*section 9 start*/

.sec9-font1
{
    font-size: 30px;
    line-height: 34px;
    font-weight: 900;
    color: #69696E;
}
.sec9-font2
{

    color: #69696E;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}
.sec9-text1
{
    display: grid;
    grid-template-rows: repeat(2,auto);
    row-gap: 1rem;
}
.sec9-forma
{
    display: grid;
    grid-template-rows: repeat(2,auto);
    row-gap: 1rem;
    background-color: #eff1f4;
    padding: 1.5rem;
}
.sec9-form
{
    display: grid;
    grid-template-rows: repeat(5,auto);
    row-gap: 1rem;
}
.sec9-i
{
    font-size: 15px;
    font-weight: 700;
    width: 100%;
    border: 2px solid #e8ebed;
    box-shadow: none;
    height: auto;
    line-height: 3rem;
    padding-left: 1rem;
}
.sec9-area1
{
    text-align: center;
    padding: 0rem 1rem;
}
.btn
{
    background-color: #56b68b;
    color: #ffffff;
}



.sec9-grid
{
    display: grid;
    grid-template-columns: 1fr 3fr;
}





@media only screen and (min-width:769px)
{ 

        /*media queries for desktop start*/

        /*section1 start*/
        .sec1-font1
        {
            font-weight: 900;
            font-size: 52px;
            line-height: 56px;
        }
        .sec1-font2
        {
            font-size: 22px;
            line-height: 26px;
            font-weight: 700;
        }
        .sec1-font3
        {
            font-size: 80px;
            line-height: 84px;
            font-weight: 700;
        }
        .sec1-font5
        {

        }
        .sec1-font6
        {   font-size: 16px;
            line-height: 20px;
        }

        .sec1-text2
        {
            column-gap: 3rem;
        }

        /*section1 end ///////////////////////////////////////////////////////////////////////////////////////////////////////*/

        /*section2 start*/



        .sec2-images
        {
            grid-column: 2;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            column-gap: 1.5rem;
        }
        .sec2-img-container
        {
            display: grid;
            grid-template-columns: 1fr 8fr 1fr;
        }   
        .sec2-img1
        {
        grid-row:1/3 ;
        }
        .sec2-font1
        {
            font-weight: 900;
            font-size: 42px;
            line-height: 46px;

        }
        .sec2-font2
        {
            font-size: 22px;
            line-height: 26px;
            font-weight: 400;
        }



        /*section2 end//////////////////////////////////////////////////////////////////////////////////////////////////////*/



    /*section3 start*/


    .section3
    {
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
    }

    .sec3-container
    {
        grid-column: 2;
    }


    .sec3-cards
    {

        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 2rem;
    }

    .sec3-font1
    {
        font-weight: 900;
        font-size: 42px;
        line-height: 46px;
    
    }

    .sec3-font2
    {
        font-size: 22px;
        line-height: 26px;
        font-weight: 400;
    }

/*section3 end*/


/*section5 start*/


.sec5-container
{
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5rem 2rem;
    grid-template-rows: auto;
    text-align: left;
    column-gap: 5rem;
    align-items: center;
}


.section5
{
    display: grid;
    grid-template-columns: 3fr 10fr  2fr;
    
}


/*section5 end*/

/*section6 start*/



.section6
{
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
}
.sec6-container
{
    grid-column: 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    
}
.sec6-text1
{
    text-align: left;
}

.sec6-font1
{
    font-size: 34px;
    line-height: 38px;
    font-weight: 900;
    color: #69696E;
}
.sec6-font2
{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #69696E;
}
.sec6-font3
{
    font-size: 16px;
    line-height: 20px;
    color: #69696E;
    font-weight: 400;
}



/*section6 end*/







}



@media only screen and (min-width:500px) and  (max-width:768px)
{
    /*media query for tablet start*/
    
    /*section2 start*/


    .sec2-img-container
    {
        display: grid;
        grid-template-columns: 1fr ;
    
    }   

    

    /*section2 end///////////////////////////////////////////////////////////////////////////////////////////////////////*/
}